.aboutus-left-side{
    background-color:rgb(247 242 226);
    padding: 40px;
}
.aboutus-left-side h3{
    color: brown;
    border-bottom:  2px solid rgb(195 190 190 / 27%);
    padding-bottom: 15px;
}
.aboutus-left-side p{
    padding: 20px;
    line-height: 2;
}
.button{
 background-color: orange;
 color: white;
  padding: 5px 10px;
  float: left;
  border-radius: 5px;
margin-right: 250px;
}
.button:hover{
     background-color: rgb(215, 141, 3);

}
.text-center .about-title{
padding-right: 20px;}

@media screen and (max-width:1000px){
    .aboutus-right-side{
        display: none;
    }
}