.container-fluid-custom {
background-color: rgb(16, 16, 59);
  color: rgb(255, 255, 255);
  height: 40px;
}
.container-fluid-custom .contact {
  font-size: 13px;
  direction: rtl;
}
.container-fluid-custom .contact i {
  color: orange;
  vertical-align: -10px;
}
.container-fluid-custom .contact i span {
  color: rgb(255, 255, 255);
  font-weight: 100;
  margin: 5px;
  margin-right: 10px;
}
.container-fluid-custom .social-media {
  direction: ltr;
}
.container-fluid-custom .social-media i {
  vertical-align: -10px;
  font-size: 17px;

  color: aliceblue;
  width: 40px;
  padding: 10px;
}
.container-fluid-custom .social-media i:hover {
  background-color: orange;
}
