.section-title span{
    position: relative;
    display: inline-block;
    font-size: 20px;
}


.section-title span::before{
width: 50px;
height: 3px;
content: "";
background-color: orange;
position: absolute;
top: 19px;
right: -60px;
}
.section-title span::after{
width: 50px;
height: 3px;
content: "";
background-color: orange;
position: absolute;
top: 19px;
right:130px;
}
.card-body i{
    color: grey;
    font-size: 30px;
    color: orange;
}
.card-body span a{
    font-size: 25px;
color: rgb(19, 36, 135);
    vertical-align: 5px;
    margin-right: 20px;
}
.card-body span p{
 
    margin-right: 60px;
}
.card{
    box-shadow: 4px 3px 14px #dad5d5;
    padding: 10px;
    cursor: pointer;
    background-color: white;
}
.card-header .card-overlay{
    background-color: rgba(0, 0, 0, 0.397);
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    opacity: 0;
    transition: 0.5s ease-in-out;
  
  
}
.card:hover .card-overlay{
    opacity: 1;
}
.card img{
    /* vertical-align: bottom; */
    display: block;
    margin-bottom: 10px;
}
.card .card-overlay p{
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 20px;
    
    position: absolute;
}
.course-back{
background-image: url(../img/gradient-dynamic-lines-background_23-2149020285.png);
background-attachment: fixed;
}
