.faq-right-side{
        box-shadow: 4px 3px 14px #dad5d5;
min-height: 300px;
padding: 40px;
text-align: center;
}
.faq-right-side p{
    margin-top: 10px;
    font-size: 18px;
        margin-right: 64px;
        margin-bottom: 20px;

}
.faq-right-side h5{
    color: rgb(62, 102, 235);
    font-size: 20px;
}
.faq-right-side  i{
    margin-right: 20px;
    color: blue;
    font-size: 30px;
    margin-left: 10px;
}
.faq-right-side ul{
    list-style:none;
}
.faq-left-side .tab {
        box-shadow: 4px 3px 14px #dad5d5;

}
.faq-left-side .lable-tab{
    overflow: hidden;
    background-color: blue;
    color: white;
    width: 100%;
    cursor: pointer;
    padding: 0 5px;

}

.faq-left-side .lable-tab::after{
    content: "\276f";
    width: 16px;
    height: 16px;
}
.faq-left-side .tab-contant{
    color: white;
}
.faq-left-side .tab-contant{
max-height: 0;
background-color: rgb(255, 196, 0);
transition: 1s ease;
}
.faq-left-side input:checked ~ .tab-contant{
    max-height: 50px;
}