.back-footer{
background-color: rgb(16, 16, 59);
height: auto;
padding:40px;
 }

  .footer-title h4{
color: #ffff;
font-weight: 100;
display: inline;
margin-right: 10px;
 }
  .footer-title i{
      color: rgb(187, 242, 35);
      font-size: 40px;
      transform: rotate(-15deg);
  }
  .footer-title p{
      color: grey;
            font-size: 15px;
            margin-top: 20px;
  }
  .footer-menu,.footer-contact{
           color: grey;
margin-right: 50px;
  }
   .footer-menu h4{
       border-bottom: 1px solid;
       margin-bottom: 10px;
padding-bottom: 10px;
   }
 .footer-menu ul{
     list-style: none;
   

 }
 .footer-menu li{
margin-bottom: 10px;
cursor: pointer;

 }
 .footer-menu li i{
     margin-left: 10px;
 }
  .footer-menu li:hover{
      transform: translatey(-3px);
      transition: 0.5s ease;
    
  }
    .footer-contact h4{
       border-bottom: 1px solid;
       margin-bottom: 10px;
padding-bottom: 10px;
   }
    .footer-contact li{
        text-align: center;
    }
    .footer-contact a {
font-size: 20px;
color: grey;
padding-right: 10px;
text-align: center;
        direction: ltr;

    }
      .footer-contact form{
          margin-top: 20px;
      }
     .footer-contact form input{
         padding: 8px 5px;
         outline: none;
     }
      .footer-contact form button{
          top: 0px;
          left:2px;
          color: rgb(238, 238, 224);
          background-color: orange;
         padding: 10px 5px;
         border: none;
      }
      .copyright{
          color: white;
          text-align: center;
          border-top: 1px dashed yellow ;
          padding-top: 20px;
          margin-top: 20px;
      }