.img-header {
  height: 100vh;

}
.overley {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.436);
}
.header-title {
  color: white;
  min-width: 600px;
  margin: 200px;
}
.header-title a {
  background-color: orange;
  padding: 5px 10px;
  border-radius: 5px;
margin-right: 250px;
  color: rgb(19, 19, 59);
}
@media screen and (max-width: 1200px) {
  .header-title {
        width: 100%;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.575);
    color: black;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .overley, .img-header {
    min-height: 100%;
  }
}
