.nav {
  background-color: rgb(252, 242, 232);
  overflow: hidden;
  position: sticky;
  top: 0;
  z-index: 100;
}
.nav a i{
color: orange;
font-size: 20px;}

.nav a {
  text-align: center;
  padding: 15px 15px;
  color: rgb(28, 26, 26);
  float: right;
}
.nav a:hover {
  border-bottom: 2px solid orange;
}
.hamberger {
  display: none;
}
@media screen and (max-width:600px) {
  .nav a:not(:first-child) {
    display: none;
  }
  .nav a.hamberger {
    display: block;
    float: left;
  }
  .nav.responsive {
    position: relative;
  }
  .nav.responsive a.hamberger {
    position: absolute;
    top: 0;
    left: 0;
  }
  .nav.responsive a {
    float: none;
    display: block;
    text-align: right;
  }
}