.stat-section-wrapper{
    background-color: rgb(255, 200, 0);
    height: auto;
    

}
.stat-section-wrapper i{
    color: rgb(31, 31, 140);
    font-size: 60px;

}
.count , .count-title{
    color: white;
    font-size: 20px;
}
