.teacher{
        top: 90%;
    left: 50%;
    background-color: rgb(241, 232, 182);
    transform: translate(-50%, -50%);
    height: auto;
    width: 100%;
    box-shadow: 5px 4px 5px #d4d4d4;
    border-radius: 2px;
    text-align: center;
 
}
.teacher h3{
margin: 50px;
}
.teacher h3 span{
    background-color: orange;
    padding: 5px;
}
.teacher a {
 border: 3px solid orange;
 color: rgb(214, 127, 27);
 padding: 10px;
 display: inline-block;
 margin-bottom: 10px;
}
.teacher a:hover{
    background-color: orange;
    color: white;
    transition: 1s ease-in-out;
}
@media screen and (max-width:700px){
 .teacher h3 {
     font-size: 15px;
     line-height: 50px;
     margin: 20px;
 }
}