.card-body-course a{
    font-size: 16px;
    color: orange;
    padding: 15px 0px;
}
.topic:hover img{
    transform: scale(1.2) rotate(5deg);
    transition: 0.5s linear;
}
.topic .card-header{
    overflow: hidden;

}
.post-date {
      top: -176px;
    right:17px;
    text-align: center;
    width: 40px;
}
.post-date div:first-child{
    background-color: orange;
    color: white;
}
.post-date div:last-child{
    background-color: rgb(254, 234, 196);
}
.topic .card-footer i{
margin-top: 50px;
padding-right: 10px;
}
.topic .card-footer i:hover{
    color: red;
}
