@charset "UTF-8";
@import "stylegrid.css";
@import "_contact.css";
@import "_nav.css";
@import "_header.css";
@import "_course.css";
@import "_aboutus.css";
@import "_teacher.css";
@import "_stat.css";
@import "_topic.css";
@import "_faq.css";
@import "_footer.css";
:root {
  --primary-color: red;
}
@font-face {
  font-family: Vazir-Medium;
  src: url("../font/Vazir-Medium.eot") format("eot"),
    url("../font/Vazir-Medium.woff") format("woff"),
    url("../font/Vazir-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
body,
* {
  font-family: Vazir-Medium;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  direction: rtl;
}

a {
  text-decoration: none;
}

